:root {
    --primary-color: #399283;
    --gray-text: gray;
    --secondary-color: #BEDCFE;
    --font-black: #011627;
}

.main {
    gap: 5rem;
}

.main-content-title {
    color: var(--font-black);
    font-size: 2rem;
    font-weight: 600;
}

.variation-title {
    color: var(--font-black);
    font-size: 1.5rem;

}

.footer-buttons {
    justify-content: space-between;
}

ul {
    list-style: none;
}

.main-content {
    flex: 2 0 auto;
    width: 70%;
}

.sidebar {
    overflow-y: hidden;
    overflow-x: hidden;
    flex: 1 0 auto;
}

.list-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.list-item {
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--gray-text);
}

