::-webkit-scrollbar {
    width: 2px;
}

.main {
    gap: 5rem;
}

.main-content-title {
    font-size: 2rem;
    font-weight: 600;
}

.variation-title {
    font-size: 1.5rem;
}

.main-content {
    flex: 2 0 auto;
    width: 70%;
    overflow: scroll;
    height: 100vh;
}

.sidebar {
    flex: 1 0 auto;
    overflow: scroll;
    height: 100vh;
    text-transform: uppercase;
}

.list-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.list-item {
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: pink;
}