.color-palette {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.label {
    font-size: 1rem;
}

.block {
    padding: 0.5rem 2rem;
    color: white;
    font-size: 1rem;
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.default-color {
    background-color: #000;
}

.gray-color {
    background-color: gray;
}

.success-color {
    background-color: var(--success);
}

.error-color {
    background-color: var(--error);
}

.warning-color {
    background-color: var(--warning);
}