@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Roboto&display=swap');
@import url('/Components/color-palette.css');

body {
  font-family: 'Murecho', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.main-title-home {
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: 600;
}

.main-container-home {
  align-items: center;
  justify-items: center;
}

.main-image-home {
  width: 100%;
  height: auto;
}

.image-container-home {
  max-width: 25%;
}

.main-content-home {
  color: var(--gray-text);
  font-size: 1.2rem;
  line-height: 2rem;
}

.main-buttons {
  margin: auto;
  gap: 1rem;
}

::-webkit-scrollbar {
  width: 2px;
}

.main {
  gap: 5rem;
}

.main-content-title {
  font-size: 2rem;
  font-weight: 600;
}

.variation-title {
  font-size: 1.5rem;
}

.main-content {
  flex: 2 0 auto;
  width: 70%;
  overflow: scroll;
  height: 100vh;
}

.sidebar {
  flex: 1 0 auto;
  overflow: scroll;
  height: 100vh;
  text-transform: uppercase;
}

.list-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.list-item > a {
  list-style-type: none;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: gray;
}

.list-item {
  align-self: flex-start;
}

.variation-desc {
  font-size: 1.2rem;
  color: gray;
}


