@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Roboto&display=swap');
@import url('/Components/color-palette.css');

body {
  font-family: 'Murecho', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.main-title {
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: 600;
}

.main-buttons {
  justify-content: space-around;
}


.main-container {
  align-items: center;
  justify-items: center;
}

.main-image {
  width: 100%;
  height: auto;
}

.image-container {
  max-width: 25%;
}

.main-content {
  color: var(--gray-text);
  font-size: 1.2rem;
  line-height: 2rem;
}
