@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .main-content-home {
        margin: 1rem;
        font-size: 0.8rem;
        line-height: 1.4rem;
        text-align: center;
    }

    .nav-icon {
        min-width: 0.8rem;
        margin-right: 0.5rem;
        background-color: white;
    }

    .nav-title {
        font-size: 1.3rem;
        color: var(--primary-color);
        font-weight: 900;
        margin-left: 0.5rem;
    }

    .main-title-home {
        font-size: 1.2rem;
        color: var(--primary-color);
        font-weight: 600;
    }

    .variation-title {
        margin-bottom: 1rem;
    }

    .main-content {
        margin-left: 1rem;
    }

    .horizontal-card{
        width: 90%;
    }


}
