@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Roboto&display=swap');
@import url('/Components/color-palette.css');

body {
  font-family: 'Murecho', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.card-container {
  width: 25%;
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  height: fit-content;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 0.4rem 0.4rem 0rem 0rem
}

.horizontal-card {
  width: fit-content;
}

.card-heading {
  font-size: 1.4rem;
  font-weight: bold;
}

.card-content {
  padding-right: 1.5rem;
  line-height: 1.5rem;
  color: var(--gray-text);
}

.badge {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
}

.footer {
  justify-content: space-around;
  padding-bottom: 0.5rem;
}

.img-btn {
  padding: 0.3rem;
  border-radius: 50%;
}

.close-icon {
  position: absolute;
  right: -0.5rem;
  font-size: 1.2rem;
  width: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.info-heading {
  position: absolute;
  bottom: 9rem;
  z-index: 1;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: var(--white-text);
}

.card-content-container {
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.card-cart {
  flex: 3 0 0;
  padding: 1rem;
  color: var(--white-text);
  background-color: var(--primary-color);
  height: 100%;
}

.card-wishlist {
  flex: 1 0 0;
  font-size: 1rem;
  color: var(--primary-color);
  height: 100%;
  padding: 1rem;
}

.card-badge {
  position: absolute;
  right: 0;
  top: 0.5rem;
  padding: 0.5rem;
  color: var(--gray-text);
  font-weight: bold;
  background-color: var(--secondary-color);
}

.card-rating-value {
  color: var(--primary-color);
}
