<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="/Component-Library/styles/style.css">
</head>
<body>
    <div class="card-container box-shadow flex-column">
	    <div class="card-image margin-bottom">
        <img class="image" src="https://picsum.photos/320/200" alt="image" />
      </div>
      <div class="heading margin-bottom">
        <strong class="card-heading padding">Mountain</strong>
      </div>
      <div class="card-content margin-bottom padding">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </div>
      <div class="card-badges">
        <span class="badge margin-bottom">#Photography</span>
        <span class="badge margin-bottom">#Travel</span>
      </div>
    </div>
  
  <div class="card-container box-shadow flex-column">
    <div class="card-image margin-bottom">
      <img class="image" src="https://picsum.photos/320/200" alt="image" />
      <img class="close-icon" src="close_black.svg" alt="Icon">
    </div>

    <div class="card-content-container margin-bottom padding-sm">
      <div class="heading margin-bottom-sm"><strong>Changing Planet</strong></div>
      <div class="sub-heading margin-bottom">By Kurt Wagnar</div>
      <div class="card-content">
        Visit 10 places on our planet that are undergoing the biggest changes
        today.
      </div>
    </div>
    <div class="footer flex-row">
      <button class="secondary-button-outlined">READ</button>
      <button class="secondary-button-outlined">BOOKMARK</button>
      <button class="secondary-button-outlined img-btn">
        <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png"/>
      </button>
      <button class="secondary-button-outlined img-btn">
        <img src="https://img.icons8.com/material-outlined/24/000000/share.png"/>
      </button>
      <button class="secondary-button-outlined img-btn">
        <img src="https://img.icons8.com/ios-glyphs/24/000000/menu-2.png" />
      </button>
    </div>
  </div>

  <div class="card-container box-shadow flex-column">
    <div class="card-image margin-bottom">
      <img class="image" src="https://picsum.photos/320/200" alt="image" />
    </div>
    <div class="card-content-container padding-sm">
      <div class="info-heading margin-bottom">
        <div class="heading"><strong>Our Changing Planet</strong></div>
        <div class="sub-heading">By Kurt Wagnar</div>
      </div>
      <div class="card-content margin-bottom">
        Visit 10 places on our planet that are undergoing the biggest changes
        today.
      </div>
    </div>
    <div class="footer flex-row">
      <button class="secondary-button-outlined">READ</button>
      <button class="secondary-button-outlined">BOOKMARK</button>
      <button class="secondary-button-outlined img-btn">
        <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
      </button>
      <button class="secondary-button-outlined img-btn">
        <img src="https://img.icons8.com/material-outlined/24/000000/share.png" />
      </button>
      <button class="secondary-button-outlined img-btn">
        <img src="https://img.icons8.com/ios-glyphs/24/000000/menu-2.png" />
      </button>
    </div>
  </div>

  <div class="card-container box-shadow flex-column">
    <div class="heading margin-bottom margin-top">
      <strong class="card-heading padding">Mountain</strong>
    </div>
    <div class="card-content margin-bottom padding">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </div>
  </div>

  <div class="card-container box-shadow horizontal-card flex-column">
    <div class="header flex-row margin-bottom margin-top">
      <div class="card-image padding-sm">
        <img class="image-no-border" src="https://picsum.photos/100/100" alt="image">
      </div>
      <div class="info padding">
        <div class="heading margin-bottom-sm"><strong>Our Changing Planet</strong></div>
        <div class="card-content">Visit 10 places on our planet that are undergoing the biggest changes today.</div>
      </div>
    </div>
    <div class="footer flex-row">
      <button class="secondary-button-outlined">READ</button>
      <button class="secondary-button-outlined">BOOKMARK</button>
      <button class="secondary-button-outlined img-btn"><img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png"/></button>
      <button class="secondary-button-outlined img-btn"><img src="https://img.icons8.com/material-outlined/24/000000/share.png"/></button>
      <button class="secondary-button-outlined img-btn"><img src="https://img.icons8.com/ios-glyphs/24/000000/menu-2.png"/></button>
    </div>
  </div> 
    
</body>
</html>