<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="input.css">
</head>
<body>

    <div class="input">
		<input class="input-text" type="text" />
		<div class="placeholder">Name</div>
	</div>

	<div class="input">
			<input class="input-text input-success" type="text" />
			<div class="placeholder success">Name</div>
	</div>
	<div class="input">
			<input class="input-text input-error" type="text" />
			<div class="placeholder errror">Name</div>
	</div>
	<div class="input">
			<input class="input-text input-warn" type="text" />
			<div class="placeholder warn">Name</div>
	</div>
    
</body>
</html>