@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Roboto&display=swap');
@import url('/Components/color-palette.css');

body {
  font-family: 'Murecho', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: var(--gray-text) solid 1px;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--white-text);
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--white-text);
}

.secondary-button {
  background-color: var(--secondary-color);
  color: var(--white-text);
}

.danger-button {
  background-color: var(--error);
  color: var(--white-text);
}

.primary-button-outlined {
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
}

.secondary-button-outlined {
  border: var(--secondary-color) solid 1px;
  color: var(--secondary-color);
}

.danger-button-outlined {
  border: var(--error) solid 1px;
  color: var(--error);
}

.primary-button-outlined:hover {
  background-color: var(--primary-color);
  color: var(--white-text)
}

.secondary-button-outlined:hover {
  background-color: var(--secondary-color);
  color: var(--white-text);
}

.danger-button-outlined:hover {
  background-color: var(--error);
  color: var(--white-text)
}

.float-button {
  border-radius: 50%;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
}

.float-button:hover {
  background-color: var(--secondary-color);
}
