body {
  font-family: sans-serif;
}

:root {
  --primary-color: #399283;
  --gray-text: gray;
  --secondary-color: #BEDCFE;
  --error: rgb(241, 55, 55);
  --warning: rgb(247, 184, 67);
  --success: lightgreen;
}

.margin {
  margin: 0.5rem;
}

.primary-button {
  background-color: var(--primary-color);
}

.secondary-button {
  background-color: var(--secondary-color);
}

.danger-button {
  background-color: var(--error);
}

.primary-button-outlined {
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
}

.secondary-button-outlined {
  border: var(--secondary-color) solid 1px;
  color: var(--secondary-color);
}

.danger-button-outlined {
  border: var(--error) solid 1px;
  color: var(--error);
}

.primary-button-outlined:hover {
  background-color: var(--primary-color);
  color: white;
}

.secondary-button-outlined:hover {
  background-color: var(--secondary-color);
  color: white;
}

.danger-button-outlined:hover {
  background-color: var(--error);
  color: white;
}

.flex-align {
  justify-content: space-evenly;
  align-items: center;
}

.button-icon {
  display: flex;
}

.float-button {
  border-radius: 50%;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
}

.float-button:hover {
  background-color: var(--secondary-color);
}