<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
	<link rel="stylesheet" href="https://utility-component.netlify.app/utility.css">
    <link rel="stylesheet" href="button.css">
	<script src="https://kit.fontawesome.com/f80c68505b.js" crossorigin="anonymous"></script>
</head>
<body>
	<!-- solid buttons -->
    <div class="button-solid-container">
		<button class="m-1 button primary-button">Primary Button</button>
		<button class="m-1 button secondary-button">Secondary Button</button>
		<button class="m-1 button danger-button">Danger Button</button>
	</div>

	<!-- outlined buttons -->
	<div class="button-outlined-container">
		<button class="m-1 button primary-button-outlined">Primary Button</button>
		<button class="m-1 button secondary-button-outlined">Secondary Button</button>
		<button class="m-1 button danger-button-outlined">Danger Button</button>
	</div>

	<!-- Icon buttons -->
	<div class="button-icon-container flex-row">
		<button class="m-1 button primary-button flex-row">
			<i class="mr-1 fas fa-shopping-cart"></i>
			<span>Add to Cart</span>
		</button>
		<button class="m-1 button danger-button flex-row">
			<i class="mr-1 fas fa-trash"></i>
			<span>Delete</span>
		</button>
	</div>

	<!-- floating buttons -->
	<div class="button-float-container">
		<button class="m-1 float-button primary-button">
			<i class="fas fa-plus"></i>
		</button>
	</div>
    
</body>
</html>