@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Roboto&display=swap');

:root {
  --primary-color: #6ee7b7  ;
  --error: #dc2626;
  --warning: #fb923c;
  --success: #4ade80;
  --white-text: #fff;
  --status-online: green;
  --status-busy: red;
  --status-offline: gray;
}

body {
  font-family: 'Murecho', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.circular-avatar {
  border-radius: 50%;
}

.avatar-container {
  align-items: flex-end;
  flex-wrap: wrap;
}

.square-avatar {
  border-radius: 0.5rem;
}

.avatar-status-container {
  position: relative;
}

.avatar-xl {
  width: 5rem;
}

.avatar-l {
  width: 4rem;
}

.avatar-md {
  width: 3rem;
}

.avatar-sm {
  width: 2rem;
}

.avatar-xs {
  width: 1.5rem;
}

.status-position-xl {
  padding: 6px;
  bottom: 0.8rem;
  right: 0;
}

.status-position-l {
  padding: 5.5px;
  bottom: 0.5rem;
  right: 0;
}

.status-position-md {
  padding: 5px;
  bottom: 0.3rem;
  right: -0.2rem;
}

.status-position-sm {
  padding: 4.4px;
  bottom: 0.2rem;
  right: -0.2rem;
}

.status-position-xs {
  padding: 3.4px;
  bottom: 0.2rem;
  right: -0.2rem;
}

.avatar-status {
  position: absolute;
  border: var(--white-text) solid 2px;
  border-radius: 50%;
}

.status-online {
  background-color: var(--status-online);
}

.status-offline {
  background-color: var(--status-offline);
}

.status-busy {
  background-color: var(--status-busy);
}

