<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="https://utility-component.netlify.app/utility.css">
    <link rel="stylesheet" href="/Components/color-palette.css">
    <link rel="stylesheet" href="slider.css">
    <script src="https://kit.fontawesome.com/f80c68505b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="sidebar-rating mb-2 p-2">
        <div class="sidebar-heading pb-2">Rating</div>
        <input class="slider" type="range" name="rating" id="rating" min="0" max="5">
    </div>
</body>

</html>