:root {
  --primary-color: #6ee7b7;
  --secondary-color: #BBB5BD;
  --error: #dc2626;
  --warning: #fb923c;
  --success: #4ade80;
  --white-text: #fff;
  --status-online: green;
  --status-busy: red;
  --status-offline: gray;
}
