:root {
    --primary-color: #399283;
    --gray-text: gray;
    --secondary-color: #BEDCFE;
}

* {
    padding: 0;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center-item {
    align-self: center;
}

.justify-center-item {
    justify-self: center;
}

.padding {
    padding: 1rem;
}

.padding-left {
    padding-left: 0rem;
}

.margin {
    margin: 0.5rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.button {
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    min-width: 7rem;
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    max-width: max-content;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.space-between {
    justify-content: space-between;
}

.font-black {
    color: black;
}

.gray-text {
    color: var(--gray-text);
}

.container {
    max-width: 100%;
}
