:root {
    --primary-color: #399283;
    --gray-text: gray;
    --secondary-color: #BEDCFE;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center-item {
    align-self: center;
}

.justify-center-item {
    justify-self: center;
}

.padding-left {
    padding-left: 2.5rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.button {
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    padding: 0.5rem;
    min-width: 7rem;
    cursor: pointer;
}