<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="/Components/utility.css">
    <link rel="stylesheet" href="list.css">
</head>
<body>

    <div class="spaced-lists margin-bottom">
        <ul class="list-heading">Simple lists
            <li class="list-item gray-text">Perfumes(EDT/EDP)</li>
            <li class="list-item gray-text">Body Mists / Sprays</li>
            <li class="list-item gray-text">Deodorants / Roll-Ons</li>
        </ul>
    </div>

    <div class="stacked-lists container">
        <ul class="list-heading margin">Stacked list
            <li class="list-item-heading box-shadow padding margin">WOMENS FRAGRANCES
                <div class="list-item-stacked">
                    <div class="list-item gray-text">Perfumes(EDT/EDP)</div>
                    <div class="list-item gray-text">Body Mists</div>
                    <div class="list-item gray-text">Deodorants / Roll-Ons</div>
                </div>
            </li>

            <li class="list-item-heading box-shadow padding margin">MENS FRAGRANCES
                <div class="list-item-stacked">
                    <div class="list-item gray-text">Perfumes(EDT/EDP)</div>
                    <div class="list-item gray-text">Body Mists</div>
                    <div class="list-item gray-text">Deodorants / Roll-Ons</div>
                    <div class="list-item gray-text">Colognes / After Shaves</div>
                </div>
            </li>
        </ul>
    </div>
    
</body>
</html>