@import url("/Components/color-palette.css");

.list-heading {
    line-height: 1.5rem;
}

.list-item {
    cursor: pointer;
}

.list-item:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

li {
    list-style: none;
}