@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Roboto&display=swap');
@import url('/Components/color-palette.css');

body {
  font-family: 'Murecho', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.list-heading {
    line-height: 1.5rem;
}

.list-item {
    cursor: pointer;
}

.list-item:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

li {
    list-style: none;
}