<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="https://utility-component.netlify.app/utility.css">
    <link rel="stylesheet" href="/Components/list/list.css">
</head>
<body>

    <!-- spaced lists -->
    <div class="spaced-list-container m-1">
        <div class="list-heading mb-2"><h2>Spaced Lists</h2></div>
        <ul>
            <li class="list-item gray-text">Perfumes(EDT/EDP)</li>
            <li class="list-item gray-text">Body Mists</li>
            <li class="list-item gray-text">Deodorants / Roll-Ons</li>
        </ul>
    </div>

    <!-- stacked lists -->
    <div class="stacked-list-container container">
        <ul><div class="list-heading m-1"><h2>Stacked list</h2></div>
            <li class="list-item-heading box-shadow p-2 m-1">WOMENS FRAGRANCES
                <ul class="list-item-stacked">
                    <li class="list-item gray-text">Perfumes(EDT/EDP)</li>
                    <li class="list-item gray-text">Body Mists</li>
                    <li class="list-item gray-text">Deodorants / Roll-Ons</li>
                </ul>
            </li>

            <li class="list-item-heading box-shadow p-2 m-2">MENS FRAGRANCES
                <ul class="list-item-stacked">
                    <li class="list-item gray-text">Perfumes(EDT/EDP)</li>
                    <li class="list-item gray-text">Body Mists</li>
                    <li class="list-item gray-text">Deodorants / Roll-Ons</li>
                    <li class="list-item gray-text">Colognes / After Shaves</li>
                </ul>
            </li>
        </ul>
    </div>
    
</body>
</html>