<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating</title>
    <link rel="stylesheet" href="https://utility-component.netlify.app/utility.css">
    <link rel="stylesheet" href="/Components/color-palette.css">
    <link rel="stylesheet" href="rating.css">
    <script src="https://kit.fontawesome.com/f80c68505b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="card-rating-container flex-row">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
</body>

</html>