@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Roboto&display=swap');

:root {
  --primary-color: #6ee7b7;
  --error: #dc2626;
  --warning: #fb923c;
  --success: #4ade80;
  --white-text: #fff;
  --status-online: green;
  --status-busy: red;
  --status-offline: gray;
}

body {
  font-family: 'Murecho', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.badge {
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  color: var(--white-text);
  padding: 0.25rem 0.5rem;
}

.badge-text {
  border-radius: 0.5rem;
}

.text {
  position: relative;
}

.badge-button {
  position: relative;
  font-size: 1rem;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  color: var(--white-color);
  border: var(--gray-text) solid 1px;
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
}

.badge-icon {
  font-size: 2rem;
  position: relative;
}

.badge-position-text {
  left: 7.5rem;
  top: -1rem;
}

.badge-position-button {
  left: 4rem;
  top: -0.8rem;
}

.badge-position-icon {
  left: 1.5rem;
  top: -0.6rem;
  font-size: 1rem;
}