<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="https://utility-component.netlify.app/utility.css">
    <link rel="stylesheet" href="/Components/color-palette.css">
    <link rel="stylesheet" href="/Components/button/button.css">
    <link rel="stylesheet" href="modal.css">
    <script src="https://kit.fontawesome.com/f80c68505b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="modal-container flex-column">
        <button><i class="modal-close close-icon fas fa-times"></i></button>
        <div class="modal-heading mb-2">Modal</div>
        <div class="modal-desc mb-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis in aperiam quas
            recusandae id?</div>
        <div class="modal-buttons flex-row justify-content-around">
            <button class="primary-button button">Save Changes</button>
            <button class="primary-outlined-button button">Cancel</button>
        </div>
    </div>
</body>

</html>