<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Text Utilities</title>
	<link rel="stylesheet" href="https://utility-component.netlify.app/utility.css">
	<link rel="stylesheet" href="text.css">
</head>
<body>

	<div class="text-heading box-shadow padding">
		<h1 class="heading-1">Component Library</h1>
		<h2 class="heading-2">Component Library</h2>
		<h3 class="heading-3">Component Library</h3>
		<h4 class="heading-4">Component Library</h4>
		<h5 class="heading-5">Component Library</h5>
		<h6 class="heading-6">Component Library</h6>
	</div>

	<div class="box-shadow padding">
		<p class="text gray-text">Component Library</p>
	</div>

	<div class="box-shadow padding">
		<p class="text centered-text ">Component Library</p>
	</div>
	
</body>
</html>