:root {
    --primary-color: #399283;
    --gray-text: gray;
    --secondary-color: #BEDCFE;
}

.badge-position-text {
    left: 11.4rem;
    top: -0.7rem;
    font-size: 1rem;
}

.badge-position-button {
    left: 6.8rem;
    top: -0.7rem;
    
}

.badge-position-icon {
    left: 2.8rem;
    top: -0.5rem;
}