body {
    font-family: sans-serif;
  }
  
  :root {
    --primary-color: #399283;
    --gray-text: gray;
    --secondary-color: #ddf1eb;
  }
  
  .button {
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    background-color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    min-width: 8rem;
    max-width: 7rem;
    text-decoration: none;
  }
  
  .padding {
    padding-left: 1rem;
  }
  
  .margin {
    margin-bottom: 1rem;
  }
  
  .primary-button {
    background-color: var(--primary-color);
  }
  
  .nav-title {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 900;
  }
  
  .main-title {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 600;
  }
  
  .main-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .main-container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    justify-self: center;
  }
  
  .main-image {
    width: 80%;
    height: 100vh;
  }

  .main {
    align-self: center;
  }

\
  
  .main-content {
    color: var(--gray-text);
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  
  .icon {
    min-width: 2rem;
  }
  
  .nav-buttons {
    display: flex;
  }
  
  a {
    display: flex;
    justify-content: center;
  }
  
  .icon:hover {
    background-color: var(--secondary-color);
    border-radius: 50%;
    transform: scale(1.2);
  }
  