<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <nav class="navbar margin-bottom padding-top flex-row box-shadow">
		<div class="nav-title align-center-item">OXYGEN UI</div>
		<div class="nav-buttons flex-row">
			<a href="https://github.com/HarshithaKonduru214" target="__blank" class="nav-icon button margin"><img src="/Documentation/images/github-brands.svg" alt="icon"/></a>
			<a href="https://twitter.com/HarshitaKonduru" target="__blank" class="nav-icon button margin"><img src="/Documentation/images/twitter-brands.svg" alt="icon"/></a>
			<a href="https://www.linkedin.com/in/harshita-k/" target="__blank" class="nav-icon button margin"><img src="/Documentation/images/linkedin-brands.svg" alt="icon"/></a>
		</div>
	</nav>   
</body>
</html>