<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="https://utility-component.netlify.app/utility.css">
    <link rel="stylesheet" href="/Components/nav/nav.css">
    <script src="https://kit.fontawesome.com/f80c68505b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar mb-2 pt-2 flex-row box-shadow justify-content-between">
		<div class="nav-title align-self-center">OXYGEN UI</div>
		<div class="nav-buttons flex-row">
			<a href="https://github.com/HarshithaKonduru214" target="__blank" class="nav-icon m-2 black-text"><i class="fab fa-github"></i></a>
			<a href="https://twitter.com/HarshitaKonduru" target="__blank" class="nav-icon m-2 black-text"><i class="fab fa-twitter"></i></a>
			<a href="https://www.linkedin.com/in/harshita-k/" target="__blank" class="nav-icon m-2 black-text"><i class="fab fa-linkedin-in"></i></a>
		</div>
	</nav>   
</body>
</html> 