@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Roboto&display=swap');
@import url('/Components/color-palette.css');

body {
  font-family: 'Murecho', sans-serif;
  font-family: 'Roboto', sans-serif;
}


.nav-title {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 900;
}

.navbar {
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0.5rem;
}

.nav-icon {
    font-size: 2rem;
    margin-right: 1rem;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.nav-icon:hover {
    color: var(--primary-color);
}