:root {
  --primary-color: rgb(133, 208, 233);
  --error: rgb(241, 55, 55);
  --warning: rgb(247, 184, 67);
  --success: lightgreen;
}

.alert-container {
  align-items: center;
}

.alert {
  border: solid 1px;
  color: white;
  border-radius: 1rem;
}

.alert-success {
  background-color: var(--success);
}

.alert-error {
  background-color: var(--error);
}

.alert-warning {
  background-color: var(--warning);
}

.alert-primary {
  background-color: var(--primary-color);
}

.alert-success-outlined {
  color: var(--success);
  border: var(--success) solid 1px;
}

.alert-error-outlined {
  color: var(--error);
  border: var(--error) solid 1px;
}

.alert-warning-outlined {
  color: var(--warning);
  border: var(--warning) solid 1px;
}

.alert-primary-outlined {
  color: var(--primary-color);
  border: var(--primary-color) solid 1px;
}