@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Roboto&display=swap');
@import url('/Components/color-palette.css');

body {
  font-family: 'Murecho', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.alert-container {
  align-items: center;
}

.alert {
  border: solid 1px;
  color: var(--white-text);
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.alert-success {
  background-color: var(--success);
}

.alert-error {
  background-color: var(--error);
}

.alert-warning {
  background-color: var(--warning);
}

.alert-primary {
  background-color: var(--primary-color);
}

.alert-success-outlined {
  color: var(--success);
  border: var(--success) solid 1px;
}

.alert-error-outlined {
  color: var(--error);
  border: var(--error) solid 1px;
}

.alert-warning-outlined {
  color: var(--warning);
  border: var(--warning) solid 1px;
}

.alert-primary-outlined {
  color: var(--primary-color);
  border: var(--primary-color) solid 1px;
}